Repository AzenoIT/azeno, pull requests merged in 2023-04, with the labels that each got.

#75 AQ-104 monorepo guide
  README.MD
Labels: documentation

#69 FM-36-Backend-pagination
  flashcards/backend/config/settings.py
  flashcards/backend/decks/pagination.py
  flashcards/backend/decks/tests/test_pagination.py
  flashcards/backend/decks/viewsets.py
Labels: backend

#74 AQ-105 Updated TS configs, to properly check dependencies.
  bank/src/components/Button/Button.stories.tsx
  quiz/web/src/App.tsx
  quiz/web/src/modules/genericTests/TestBank.tsx
  quiz/web/tsconfig.json
Labels: bug, frontend

#81 Aq 115 remove corsheaders
  quiz/backend/config/settings.py
  quiz/backend/poetry.lock
  quiz/backend/pyproject.toml
  quiz/envs/backend.default.env
  quiz/readme.md
Labels: backend
